.chronometerButtons {
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 500px) {
    .chronometerButtons {
        flex-direction: column;
        gap: 10px;
    }

    .chronometerButtons * {
        width: 100%;
    }
}